# Ignorera hela wordpress_e8-mappen
# wordpress_e8/*

# Men inkludera temat
!wordpress_e8/wp-content/themes/

# Ignorera andra WordPress-specifika mappar
wordpress_e8/wp-content/uploads/
wordpress_e8/wp-content/cache/
wordpress_e8/wp-content/upgrade/
wordpress_e8/wp-content/plugins/

# OS-specifika filer
.DS_Store
Thumbs.db

# Loggar och debug-filer
*.log
debug.log

# Git-specifika
.git
.gitignore
